{
    "semi": false,
    "overrides": [
      {
        "files": "*.ts",
        "options": {
          "semi": true,
          "bracketSpacing": true,
          "singleQuote": true
        }
      },
      {
        "files": ["*.html", "legacy/**/*.js"],
        "options": {
          "tabWidth": 2
        }
      }
    ]
  }
